Activate*.cmd
Activate*.sh
Deactivate*.cmd
Deactivate*.sh

**/__pycache__/**
**/Generated/**
**/.coverage
**/lcov.info
**/.vscode

build/**
dist/**
src/RepoAuditor.egg-info/**

tests/Plugins/github_pat.txt
