post_generation_actions.html

Activate*.cmd
Activate*.sh
Deactivate*.cmd
Deactivate*.sh

**/__pycache__/**
**/Generated/**

**/.coverage
**/lcov.info
**/.vscode

build/**
dist/**
src/RepoAuditor.egg-info/**

minisign_key.pri

tests/Plugins/github_pat.txt
tests/Plugins/github_gatech_pat.txt
.DS_Store
post_generation_instructions.html
