name: "CI+CD"
run-name: ${{ github.run_number }} [${{ github.actor }}] on ${{ github.ref_name }}

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *' # Once a day at 12am UTC
  workflow_dispatch:

permissions: {}

jobs:
  CICD_Workflow:
    name: "CI+CD Workflow"

    permissions:
      contents: write

    uses: ./.github/workflows/CICD_impl.yml

    with:
      # These values can be customized for your specific requirements.
      operating_system_json_string: "[ 'macos-latest', 'ubuntu-latest', 'windows-latest' ]"
      python_version_json_string: "['3.13', '3.12', '3.11', '3.10']"
      python_package_version: "3.13"
      coverage_badge_gist_id: "2f9d770d13e3a148424f374f74d41f4b"
      coverage_badge_gist_username: "davidbrownell"

    secrets:
      # These values should be populated as GitHub Action secrets (https://github.com/gt-sse-center/RepoAuditor/settings/secrets/actions)
      MINISIGN_PRIVATE_KEY: ${{ secrets.MINISIGN_PRIVATE_KEY }}
      PYPI_PUBLISH_TOKEN: ${{ secrets.PYPI_PUBLISH_TOKEN }}
      COVERAGE_BADGE_GIST_TOKEN: ${{ secrets.COVERAGE_BADGE_GIST_TOKEN }}
